<div class="pb-10 md:pb-20 lg:pb-30 xl:pb-40 pt-130">
    <div class="px-10 sm:px-10 container mx-auto">
        <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
            Address Details
        </span>
        <form [formGroup]="addressFormGroup" novalidate class="contents">
            <div class="py-30 px-20 grid grid-cols-1 lg:grid-cols-2 bg-gray rounded-lg gap-25">
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Address Line</label>
                    <input type="text" formControlName="address_line" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">City</label>
                    <input type="text" formControlName="city" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">State</label>
                    <input type="text" formControlName="state" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">District</label>
                    <input type="text" formControlName="district" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Pincode</label>
                    <input type="text" formControlName="pincode" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>

                <br>
                <div class="mb-20 flex items-center">
                    <input type="checkbox" id="is_divyang" class="mr-2" (change)="copyAddress($event)" >
                    <label for="is_divyang" class="text-sm font-medium text-gray-700">Same as Permanent Address</label>
                </div>
                <br>

                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Correspondence Address Line</label>
                    <input type="text" formControlName="corr_address_line" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Correspondence City</label>
                    <input type="text" formControlName="corr_city" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Correspondence State</label>
                    <input type="text" formControlName="corr_state" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Correspondence District</label>
                    <input type="text" formControlName="corr_district" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <div class="mb-10">
                    <label class="block mb-5 text-sm font-medium text-gray-700">Correspondence Pincode</label>
                    <input type="text" formControlName="corr_pincode" class="rounded-lg h-20 md:h-30 lg:h-40 block w-full outline-0 pl-5 md:pl-10 lg:pl-[15px] text-black placeholder:text-secondary text-[12px] md:text-[13px] lg:text-[14px]">
                </div>
                <br>
                <button type="submit" class="text-black font-semibold text-[10px] md:text-[12px] lg:text-[14px] text-center block w-full rounded-full bg-warning px-10 py-5 md:py-[10px] lg:py-10 transition-all hover:bg-primary hover:text-white">
                    Submit Now
                </button>
                <button type="submit" class="text-white font-semibold text-[10px] md:text-[12px] lg:text-[14px] text-center block w-full rounded-full bg-primary px-10 py-5 md:py-[10px] lg:py-10 transition-all hover:bg-primary hover:text-white">
                    Modify Address
                </button>
            </div>
        </form>
    </div>
</div>