// .bbps_prod {
//     display: flex;
//     flex-wrap: nowrap;
//     overflow-x: auto;
//     padding: 1rem 0;
//     gap: 1rem;
//     scrollbar-width: thin;
    
//   }
  
//   .bbps_prod a {
//     flex: 0 0 auto;
//     text-align: center;
//     text-decoration: none;
//     color: #000;
//   }
  
  .bbps_prod_img_box {
    width: 117px;
    height: 117px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // transition: all 0.3s;

  

    padding: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  .bbps_page .bbps .bbps_prod a:hover .bbps_prod_img_box {
    transform: scale(1.1);
    fill: #fff;
    filter: drop-shadow(0px 4px 4px #d7206a);
  }
  
  .bbps_prod_img_box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .bbps_prod h5 {
    font-size: 14px;
    margin-top: 0.3rem;
    font-weight: 500;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }


//   
.bbps_prod {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .bbps_prod a {
    text-align: center;
    width: 267px;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
  }
  
  
  
  .bbps_prod a:hover .bbps_prod_img_box {
    transform: scale(1.1);
    filter: drop-shadow(0 4px 6px rgba(215, 32, 106, 0.6));
  }
  
  .bbps_prod h5 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  