<!-- Page Title -->
<div class="pt-[105px] md:pt-[135px] lg:pt-[150px] xl:pt-[150px] bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-25">
            <div class="md:col-span-2">
                <div class="xl:pl-40 2xl:pl-[98px] lg:mt-30 xl:mt-15 2xl:mt-40 3xl:mt-[75px]">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Gallery
                    </span>
                    <h1 class="xl:max-w-[700px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                        Snapshots of trust and service.
                    </h1>
                </div>
            </div>
            <div class="md:text-right xl:pr-80">
                <img src="images/gallery.png" class="inline" alt="team-image">
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-25">
            <img src="images/teams/team1.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team2.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team3.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team4.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team1.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team2.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team3.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team4.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team1.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team2.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team3.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team4.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team4.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
            <img src="images/teams/team4.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
                
        </div>
    </div>
</div>

<app-subscribe />