<div class="py-60 md:py-80 lg:py-100 xl:py-130 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-center text-black font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-[12px] mb-30 md:mb-40 lg:mb-50">
            Meet the People Powering Unit
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-25">
            <div>
                <img src="images/teams/team1.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
                <h3 class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5">
                    Aditya Kumar
                </h3>
                <span class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                     Founder & Chairman
                </span>
            </div>
            <div>
                <img src="images/teams/team2.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
                <h3 class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5">
                    Priya Mehta
                </h3>
                <span class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                    Co-Founder & Managing Director
                </span>
            </div>
            <div>
                <img src="images/teams/team3.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
                <h3 class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5">
                    Anil Verma
                </h3>
                <span class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                    Chief Financial Officer (CFO)
                </span>
            </div>
            <div>
                <img src="images/teams/team4.jpg" class="rounded-lg mb-15 xl:mb-20" alt="team-image">
                <h3 class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-bold mb-5">
                    Sonal Desai
                </h3>
                <span class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary">
                    Head of Operations
                </span>
            </div>
        </div>
    </div>
</div>