

<!-- <div *ngIf="showPopup" class="fixed inset-0 bg-black bg-opacity-60 z-50 flex items-center justify-center">
    <div class="relative bg-white rounded-lg overflow-hidden shadow-lg max-w-lg w-full">
  
      <button
        (click)="closePopup()"
        class="absolute top-2 right-2 text-black text-2xl font-bold focus:outline-none z-10">
        &times;
      </button>
  
   
      <img
        src="images/about_usimg.png"   
        alt="Landing Popup"
        class="w-full h-auto"
      />
  
  
      <div class="p-4 text-center">
        <h2 class="text-xl font-semibold mb-2">Welcome to Our Site!</h2>
        <button (click)="closePopup()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
          Explore Now
        </button>
      </div>
    </div>
  </div>
   -->
   <div *ngIf="isVisible" class="hidden sm:block fixed inset-0 z-[9999]">
    <div class="fb-dialog fb-shd1 fb-acm fb-acc relative mx-auto mt-20 w-fit bg-white p-5 rounded shadow-lg" role="dialog" aria-modal="true" style="margin-top: 148px;">
      <button type="button" (click)="closePopup()" class="absolute top-2 right-2 text-black" aria-label="Close">
        <svg width="16" height="16" viewBox="0 0 32 32" fill="none">
          <path d="M9.6 24L8 22.4L14.4 16L8 9.6L9.6 8L16 14.4L22.4 8L24 9.6L17.6 16L24 22.4L22.4 24L16 17.6L9.6 24Z" fill="currentColor" />
        </svg>
      </button>
      <div class="fb-container">
        <div class="fb-content">
          <div class="wp-block-image is-style-default">
            <figure class="aligncenter size-full">
              <a href="#">
                <img
                  src="images/loadig_img.png"
                  alt="Popup Image"
                  class="wp-image-7147"
                  width="400"
                  height="500"
                />
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-backdrop fixed inset-0 bg-black opacity-50 z-[-1]"></div>
  </div>
   