<div
  class="py-30  " style="background-color: #EBEAEF"> 
  <!-- bg-white bg-[url('/images/main_bg.jpg')] bg-cover bg-center bg-no-repeat -->
  <div class="px-10 sm:px-0 container mx-auto">
   
      <div id="comp-kkgi794s" class="Z_l5lU ku3DBC zQ9jDz qvSjx3 Vq6kJx comp-kkgi794s wixui-rich-text" data-testid="richTextElement" data-motion-enter="done">
        <h2 class="font_2 wixui-rich-text__text" style="font-size:45px; line-height:normal; text-align:center;"><span style="font-family:playfairdisplay-bold,playfair display,serif;" class="wixui-rich-text__text">
        <span class="color_43 wixui-rich-text__text">
          <span style="font-size:45px;" class="wixui-rich-text__text">
        <span  class="wixui-rich-text__text"style="color:#db397a;" > Why We Are</span></span></span><span style="color:#FFD15C;" class="wixui-rich-text__text">
        <span style="font-size:45px;" class="wixui-rich-text__text">
          <span  class="wixui-rich-text__text"> The Best</span></span></span></span></h2>
        </div>
          <div class="comp-kkgi89rs comp-kkgi89rs aVng1S wixui-horizontal-line" style="--motion-width: 118px; --motion-height: 5px;" data-motion-enter="done"></div>
      
      
     
            <!-- <div id="main_wrapper">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12 col-lg-12">
                    <div class="bbps_prod justify-content-start ">
                  
      
                      <a href="#" name="Broadband Postpaid">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/broadband-landline.svg?ver=1.13" alt="Broadband Landline">
                        </div>
                        <h5>Broadband Postpaid</h5>
                      </a>
      
                      <a href="#" class="active" name="Electricity">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/electricity.svg?ver=1.13" alt="Electricity">
                        </div>
                        <h5>Electricity</h5>
                      </a>
      
      
                      <a href="#" name="DTH">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/dth.svg?ver=1.13" alt="DTH">
                        </div>
                        <h5>DTH</h5>
                      </a>
      
                      <a href="#" name="Lpg Cylinder">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/lpg-gas.svg?ver=1.13" alt="LPG Gas">
                        </div>
                        <h5>LPG Cylinder</h5>
                      </a>
      
                     
                    
                    </div>
                  </div>
              
                  <div class="col-xl-12 col-lg-12"style="margin-top: 29px;">
                    <div class="bbps_prod justify-content-start ">
                  
      
                      <a href="#" name="Broadband Postpaid">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/broadband-landline.svg?ver=1.13" alt="Broadband Landline">
                        </div>
                        <h5>Broadband Postpaid</h5>
                      </a>
      
                      <a href="#" class="active" name="Electricity">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/electricity.svg?ver=1.13" alt="Electricity">
                        </div>
                        <h5>Electricity</h5>
                      </a>
      
      
                      <a href="#" name="DTH">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/dth.svg?ver=1.13" alt="DTH">
                        </div>
                        <h5>DTH</h5>
                      </a>
      
                      <a href="#" name="Lpg Cylinder">
                        <div class="bbps_prod_img_box">
                          <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/lpg-gas.svg?ver=1.13" alt="LPG Gas">
                        </div>
                        <h5>LPG Cylinder</h5>
                      </a>
      
                   
                     
                    
                    </div>
                  </div>
                </div>
      
              
              
              </div>
            </div> -->
        
        <!-- kckdjvkjfkvdfkkdkdf -->
        <div id="main_wrapper">
          <div class="container">
            <div class="d-flex justify-content-between flex-wrap bbps_prod">
              
              <a href="#" name="Broadband Postpaid" class="text-center m-3">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/broadband-landline.svg?ver=1.13" alt="Broadband Landline">
                </div>
                <h5>Democratic Management</h5>
              </a>
        
              <a href="#" class="active text-center m-3" name="Electricity">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/electricity.svg?ver=1.13" alt="Electricity">
                </div>
                <h5>Shared Responsibilities</h5>
              </a>
        
              <a href="#" name="DTH" class="text-center m-3">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/dth.svg?ver=1.13" alt="DTH">
                </div>
                <h5>Better Facilities and Community Building</h5>
              </a>
        
              <a href="#" name="Lpg Cylinder" class="text-center m-3">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/lpg-gas.svg?ver=1.13" alt="LPG Gas">
                </div>
                <h5>Social Upliftment</h5>
              </a>
        
            </div>
            <div class="d-flex justify-content-between flex-wrap bbps_prod" style="margin-top: 17px;">
              
              <a href="#" name="Broadband Postpaid" class="text-center m-3">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/broadband-landline.svg?ver=1.13" alt="Broadband Landline">
                </div>
                <h5>financial freedom </h5>
              </a>
        
              <a href="#" class="active text-center m-3" name="Electricity">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/electricity.svg?ver=1.13" alt="Electricity">
                </div>
                <h5>Profit Sharing </h5>
              </a>
        
              <a href="#" name="DTH" class="text-center m-3">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/dth.svg?ver=1.13" alt="DTH">
                </div>
                <h5>Cost Savings </h5>
              </a>
        
              <a href="#" name="Lpg Cylinder" class="text-center m-3">
                <div class="bbps_prod_img_box">
                  <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/lpg-gas.svg?ver=1.13" alt="LPG Gas">
                </div>
                <h5>Steady Existence</h5>
              </a>
        
            </div>
          </div>
        </div>
        
        
        
        

          </div>
        
      

  
  </div>
  