<div
  class="py-60 md:py-80 lg:py-100 xl:py-130 bg-gray-50 bg-[url('/images/main_bg.jpg')] bg-cover bg-center bg-no-repeat"
>
  <div class="px-10 sm:px-0 container mx-auto">
      <!-- <h2 class="text-black md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-center mb-16 tracking-tight leading-snug"style="letter-spacing:0.05em;" >
        Why We Are The Best
      </h2> -->
      <div id="comp-kkgi794s" class="Z_l5lU ku3DBC zQ9jDz qvSjx3 Vq6kJx comp-kkgi794s wixui-rich-text" data-testid="richTextElement" data-motion-enter="done">
        <h2 class="font_2 wixui-rich-text__text" style="font-size:45px; line-height:normal; text-align:center;"><span style="font-family:playfairdisplay-bold,playfair display,serif;" class="wixui-rich-text__text">
        <span class="color_43 wixui-rich-text__text">
          <span style="font-size:45px;" class="wixui-rich-text__text">
        <span  class="wixui-rich-text__text"> Why We Are</span></span></span><span style="color:#FFD15C;" class="wixui-rich-text__text">
        <span style="font-size:45px;" class="wixui-rich-text__text">
          <span  class="wixui-rich-text__text"> The Best</span></span></span></span></h2></div>
          <div class="comp-kkgi89rs comp-kkgi89rs aVng1S wixui-horizontal-line" style="--motion-width: 118px; --motion-height: 5px;" data-motion-enter="done"></div>
      
      
      <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <div *ngFor="let feature of features; let i = index"
          class="bg-white rounded-2xl shadow-md hover:shadow-xl transition duration-300 p-6 group">
          
          <div class="text-primary font-extrabold text-4xl mb-4 group-hover:scale-105 transform transition">
            0{{ i + 1 }}
          </div>
  
          <h3 class="font-semibold text-lg lg:text-xl text-gray-800 mb-3 group-hover:text-primary transition"style="padding-left: 11px;">
            {{ feature.title }}
          </h3>
  
          <p class="text-gray-600 text-sm leading-relaxed">
            {{ feature.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  