<section class="py-20 bg-white partner_sec_new bg-[url('/images/main_bg.jpg')] bg-cover bg-center bg-no-repeat">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-10 items-center">
      

      <div class="md:col-span-4 text-start px-5">
        <div class="flex justify-center mb-4 bg-transparent">
          <img src="images/online-saving.gif" alt="About" class="w-[125px] h-[125px]" style="background-color: transparent;">
        </div>
        <h2 class="my-3 text-3xl font-bold leading-snug highlight-heading"style="color: #ff0000a8;">
          Deposit and Loan skim 
        </h2>

       
      </div>

     
         <div class="md:col-span-8">
          <div class="row">
            <div class="col-md-12">
              <div class="App">
      <div class="MarqueeContainer">
  
        <div class="marquee marquee--borders" style="--duration:25s;">
          <div class="marquee marquee--reverse">
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/01.png" alt="Upwards">
              </a>
           
          </div>
          <div class="marquee__group">
          <a href="#" target="_blank" rel="noopener">
            <img src="images/marqueimg/02.png" alt="Upwards">
          </a>
          </div>
  
            <div aria-hidden="true" class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/03.png" alt="Upwards">
              </a>
            </div>
              <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/04.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/06.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/07.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/08.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/09.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/10.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/11.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/12.png" alt="Upwards">
              </a>
            
            </div>
            <div class="marquee__group">
              <a href="#" target="_blank" rel="noopener">
                <img src="images/marqueimg/13.png" alt="Upwards">
              </a>
            
            </div>
         
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt_10">
              <div class="App">
                <div class="MarqueeContainer">
                  <div class="marquee marquee--reverse" style="--duration: 30s;">
                    <div class="marquee__group">
              <img src="images/marqueimg/01.png" alt="Upwards">
            
            </div>
  
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/02.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/03.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/04.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/06.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/07.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/08.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/09.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/10.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/11.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/12.png">
            
            </div>
            <div class="marquee__group" aria-hidden="true">
              <img src="images/marqueimg/13.png">
            
            </div>
          </div>
        </div>
      </div>

            </div>
          </div>
        </div>

      </div>
      

    </div>
  </div>
</section>



<div
  class="py-20 md:py-28 lg:py-32 xl:py-36 bg-gray-50 "style="background-color:#011a41db">
  <div class="px-4 sm:px-6 lg:px-8 container mx-auto">
    <div id="comp-kkgi794s" class="Z_l5lU ku3DBC zQ9jDz qvSjx3 Vq6kJx comp-kkgi794s wixui-rich-text" data-testid="richTextElement" data-motion-enter="done">
      <h2 class="font_2 wixui-rich-text__text" style="font-size:45px; line-height:normal; text-align:center;"><span style="font-family:playfairdisplay-bold,playfair display,serif;" class="wixui-rich-text__text">
      <span class="color_43 wixui-rich-text__text">
        <span style="font-size:45px;" class="wixui-rich-text__text">
      <span style="letter-spacing:0.05em;color: white;" class="wixui-rich-text__text"> We Offer</span></span></span><span style="color:#FFD15C;" class="wixui-rich-text__text">
   
      </span></span></h2>
      </div>
        <div class="comp-kkgi89rs comp-kkgi89rs aVng1S wixui-horizontal-line" style="--motion-width: 118px; --motion-height: 5px;" data-motion-enter="done"></div>
        <div class="grid md:grid-cols-2 gap-10 ">
         

      <div>
        <div class="col-lg-6">

         
  <div class="about-two__single">
    <div class="about-two__image">
      <div class="content-inner">
      
        <img src="images/new_tryimg/discuss.png" alt="30">
        <!-- <img src="images/new_tryimg/ADDA_Book.png" alt="30"> -->
      </div>
   
    </div>
  
	</div>
       
          </div>
    
      </div>
      <div class="about-text">
        <div class="space-y-4">
    
          <div class="ct-accordion-item border rounded-lg shadow-md bg-white">
            <div class="ct-ac-title px-4 py-3 cursor-pointer flex items-center gap-3">
              <img src="images/membercard.png" alt="Loan Scheme" class="w-8 h-8" style="width: 8%; height: auto;padding: 4px;margin-right: 1;margin-right: 10px;">
              <span class="text-black font-medium">  Member Ship.</span>
            </div>
          
          </div>
      

          <div class="ct-accordion-item border rounded-lg shadow-md bg-white">
            <div class="ct-ac-title px-4 py-3 cursor-pointer flex items-center gap-3">
              <img src="images/loan.png" alt="Loan Scheme" class="w-8 h-8" style="width: 8%; height: auto;padding: 4px;margin-right: 1;margin-right: 10px;">
              <span class="text-black font-medium">Loan Scheme</span>
            </div>
           
          </div>
      
      
          <div class="ct-accordion-item border rounded-lg shadow-md bg-white">
            <div class="ct-ac-title px-4 py-3 cursor-pointer flex items-center gap-3">
              <img src="images/diposit.png" alt="Loan Scheme" class="w-8 h-8" style="width: 8%; height: auto;padding: 4px;margin-right: 1;margin-right: 10px;">
              <span class="text-black font-medium">Deposit Scheme</span>
            </div>
           
          </div>
      

          <div class="ct-accordion-item border rounded-lg shadow-md bg-white">
            <div class="ct-ac-title px-4 py-3 cursor-pointer flex items-center gap-3">
              <img src="images/shgscheme.png" alt="Loan Scheme" class="w-8 h-8" style="width: 8%; height: auto;padding: 4px;margin-right: 1;margin-right: 10px;">
              <span class="text-black font-medium">SHG Scheme</span>
            </div>
         
          </div> 
        
          <div class="ct-accordion-item border rounded-lg shadow-md bg-white">
            <div class="ct-ac-title px-4 py-3 cursor-pointer flex items-center gap-3">
              <img src="images/livelihood.png" alt="Loan Scheme" class="w-8 h-8" style="width: 8%; height: auto;padding: 4px;margin-right: 1;margin-right: 10px;">
              <span class="text-black font-medium"> livelihood Scheme</span>
            </div>
         
          </div> 
      
        </div>
      </div>
      
    </div>
  
  </div>
</div>

