.number {
    color: transparent;
    -webkit-text-stroke: 1px var(--primaryColor);
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    margin: 8px;
  }
  .leading-relaxed {
    line-height: 1.625;
    font-size: 14px;
    color: black;
    text-align: justify;
    padding: 15px;
  }
  .group:hover .group-hover\:text-primary {
    --tw-text-opacity: 1;
    color: rgb(223, 18, 13);
  }
  @media (min-width: 1200px) {
    .xl\:py-130 {
      // padding-top: -49px;
      padding-bottom: 50px;
      padding-top: 43px;
    }
  }
  @media (min-width: 1200px) {
    .xl\:py-130[_ngcontent-ng-c2331450956] {
      padding-top: -49px;
      padding-bottom: 38px;
      padding-top: 43px;
    }
  }

  // about us  lining
.comp-kkgi89rs {
  width: 200px;
  height: 5px;
}
.comp-kkgi89rs {
  --lnw: 3px;
  --brd: 66,66,66;
  --alpha-brd: 1;
}

.aVng1S {
  border-top: var(--lnw,2px) solid rgba(var(--brd,var(--color_15,color_15)),var(--alpha-brd,1));
  box-sizing: border-box;
  height: 0;
  position: relative;
  margin: 0px 0px 53px calc((100% - 980px) * 0.5);
  left: 432px;
}