<section class="py-20 bg-white">
    <div class="container mx-auto px-4">
      <div id="comp-kkgi794s" class="Z_l5lU ku3DBC zQ9jDz qvSjx3 Vq6kJx comp-kkgi794s wixui-rich-text" data-testid="richTextElement" data-motion-enter="done">
        <h2 class="font_2 wixui-rich-text__text" style="font-size:45px; line-height:normal; text-align:center;"><span style="font-family:playfairdisplay-bold,playfair display,serif;" class="wixui-rich-text__text">
        <span class="color_43 wixui-rich-text__text">
          <span style="font-size:45px;" class="wixui-rich-text__text">
        <span style="letter-spacing:0.05em;" class="wixui-rich-text__text">About</span></span></span><span style="color:#FFD15C;" class="wixui-rich-text__text">
        <span style="font-size:45px;" class="wixui-rich-text__text">
          <span style="letter-spacing:0.05em;" class="wixui-rich-text__text"> Us</span></span></span></span></h2>
        </div>
          <div class="comp-kkgi89rs comp-kkgi89rs aVng1S wixui-horizontal-line" style="--motion-width: 118px; --motion-height: 5px;" data-motion-enter="done"></div>
      
          <div class="grid md:grid-cols-2 gap-10 items-center">
            <div class="about-text">
              <p>
                vertex kalyan cooperative society have developed an excellent reputation with taking care of the financial needs for a wide variety of businesses and individuals. If you need assistance with financial management, you can count on us for professional service. We have a wealth of information and are looking forward to serve you. <span class="highlight-number">vertexsociety</span>vertexsociety
              </p>
            
              <p>
                vertex kalyan cooperative society have developed an excellent reputation with taking care of the financial needs for a wide variety of businesses and individuals. If you need assistance with financial management, you can count on us for professional service. We have a wealth of information and are looking forward to serve you.
              </p>
            
              <p>
                vertex kalyan cooperative society have developed an excellent reputation with taking care of the financial needs for a wide variety of businesses and individuals. If you need assistance with financial management, you can count on us for professional service. We have a wealth of information and are looking forward to serve you.
              </p>
            
              <p>
                vertex kalyan cooperative society have developed an excellent reputation with taking care of the financial needs for a wide variety of businesses and individuals. If you need assistance with financial management, you can count on us for professional service. We have a wealth of information and are looking forward to serve you.
              </p>

              <div class="services-btn">
                <a href="/about">Read More</a>
              </div>
            </div>
  
        <div>
          <div class="col-lg-6">
            <div class="about-img">
            <img src="images/about_usimg.png" alt="About">
           
            </div>
            </div>
        
        </div>
      </div>
    </div>
  </section>

  <!-- <img
  src="images/MarBusiness.jpg"
  alt="About Ujala"
  class="w-full rounded-xl shadow-lg"
/> -->

