.bg-white {
    &.bg-gray2 {
        @apply bg-[#f6f6f6];
    }
}

  // about us  lining
  .comp-kkgi89rs {
    width: 89px;
    height: 5px;
  }
  .comp-kkgi89rs {
    --lnw: 3px;
    --brd: 66,66,66;
    --alpha-brd: 1;
  }
  
  .aVng1S {
    border-top: var(--lnw, 2px) solid rgb(14, 15, 12);
    box-sizing: border-box;
    height: 0;
    position: relative;
    margin: 0px 0px 20px calc((100% - 980px) * 0.5);
    left: 212px;
  }
  