.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
        margin-top: 25px;
    }
}

  :host {
    display: block;
  }
  
  .bg-primary {
    background-color: #0a4d92; /* Custom blue shade */
  }
  
  .text-primary {
    color: #0a4d92;
  }
  .note-box {
    background-color: #fef2f2;   // same as bg-red-50
    border-left: 4px solid #dc2626; // same as border-red-600
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  
    p {
      color: #991b1b; // text-red-800
      font-size: 0.875rem;
  
      strong {
        color: #dc2626; // darker red for "Note:"
      }
    }
  }
  .background_color
{
    background-color: rgba(113, 109, 109, 0.09);
}
  