<div class="pb-60 md:pb-80 lg:pb-100 xl:pb-130 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <!-- <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:max-w-[740px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-30 md:mb-40 lg:mb-60 xl:mb-80 -mt-5 md:-mt-10 lg:-mt-15">
            Used by 75,000+ Businesses. Small to Enterprise Globally.
        </h2> -->
        <!-- <div class="justify-between hidden lg:flex">
            <div class="self-center">
                <img src="images/partners/visa.png" alt="visa">
            </div>
            <div class="self-center">
                <img src="images/partners/mastercard.png" alt="mastercard">
            </div>
            <div class="self-center">
                <img src="images/partners/discover.png" alt="discover">
            </div>
            <div class="self-center">
                <img src="images/partners/american-express.png" alt="american-express">
            </div>
            <div class="self-center">
                <img src="images/partners/paypal.png" alt="paypal">
            </div>
            <div class="self-center">
                <img src="images/partners/pay.png" alt="pay">
            </div>
        </div> -->
        <!-- <div class="grid grid-cols-3 md:grid-cols-6 gap-25 md:gap-30 lg:hidden"> 
            <div class="self-center">
                <img src="images/partners/visa.png" alt="visa">
            </div>
            <div class="self-center">
                <img src="images/partners/mastercard.png" alt="mastercard">
            </div>
            <div class="self-center">
                <img src="images/partners/discover.png" alt="discover">
            </div>
            <div class="self-center">
                <img src="images/partners/american-express.png" alt="american-express">
            </div>
            <div class="self-center">
                <img src="images/partners/paypal.png" alt="paypal">
            </div>
            <div class="self-center">
                <img src="images/partners/pay.png" alt="pay">
            </div>
        </div> -->
    </div>
</div>