

<div
    (click)="scrollToTop()"
    class="w-[45px] h-[45px] fixed right-[20px] bottom-[20px] z-[99] bg-white rounded-full shadow-md cursor-pointer flex items-center justify-center transition-all hover:bg-warning text-[30px]"
    *ngIf="isShow"
>
    <i class="ri-arrow-up-s-line"></i>
</div>
<!-- <div class="Design_Bottom ">
    <div class="kidsheading">
        <a href="#" target="_blank" rel="noreferrer">Vertex Kalyan</a>
    </div>
    <div class="paper-Pen">
         <marquee direction="right" style="width: 89%" scrollamount="11" scrolldelay="8" behavior="scroll">

             <img class="BabyImg" src="images/gotbank.gif" alt="Online Admission" title="Online Admission">

         </marquee>
     </div>
 </div> -->