// .banner-area {
//     &::after {
//         background: rgba(61, 255, 162, 0.22);
//         filter: blur(100px);
//     }

 
// $slider-height: 500px;
// $slider-info-max-width: 600px;
// $control-bg: rgba(0, 0, 0, 0.5);
// $control-color: #fff;
// $transition-speed: 1s;
// $z-slide: 1;
// $z-active-slide: 2;
// $z-info: 3;
// $z-controls: 4;

// .custom-slider {
//   position: relative;
//   height: $slider-height;
//   overflow: hidden;

//   .slide {
//     position: absolute;
//   width: 100%;
//   height: 81%;
//   background-size: cover;
//   background-position: center;
//   opacity: 0;
//   transition: opacity 1s ease;
//   z-index: 1;
//   // margin-top:30px;

//     &.active {
//       opacity: 1;
//       z-index: $z-active-slide;
//     }
//   }

//   .info {
//     position: absolute;
//     bottom: 80px;
//     left: 50px;
//     color: white;
//     z-index: $z-info;
//     max-width: $slider-info-max-width;
//   }

//   .shadow-img {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: auto;
//     z-index: $z-active-slide;
//     pointer-events: none;
//   }

//   .controls {
//     position: absolute;
//     bottom: 67px;
//     left: 0;
//     right: 0;
//     text-align: center;
//     z-index: $z-controls;

//     button {
//       background-color: $control-bg;
//       border: none;
//       color: $control-color;
//       padding: 10px 20px;
//       margin: 0 5px;
//       font-size: 18px;
//       cursor: pointer;
//     }
//   }
// }

// }
// .banner-area[_ngcontent-ng-c2116913799] .custom-slider[_ngcontent-ng-c2116913799] .controls[_ngcontent-ng-c2116913799] button[_ngcontent-ng-c2116913799]{
//   background-color: rgba(239, 243, 244, 0.06);
//   border: none;
//   color: #000;
//   padding: 36px 20px;
//   margin: 0 5px;
//   font-size: 51px;
//   cursor: pointer;
// }

// @media (max-width: 640px) {

// .slide {
//   position: absolute;
// width: 100%;
// height: 81%;
// background-size: cover;
// background-position: center;
// opacity: 0;
// transition: opacity 1s ease;
// z-index: 1;
// // margin-top:10px;
// }
// }

// // nnew code foe newslider
// .img-container {
//   position: relative;
//   width: 100%;
//   max-width: 100%;
//   height: 400px;
//   overflow: hidden;
//   margin: auto;
// }

// .img-container div {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   transition: opacity 0.6s ease-in-out;
// }

// .img-container div.selected {
//   opacity: 1;
//   z-index: 1;
// }

// img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }


// @import url('https://fonts.googleapis.com/css?family=Raleway');

// * {
// 	box-sizing: border-box;
// }

// body {
// 	font-family: 'Raleway';
// 	margin: 0;
// }

// .title {
// 	background: rgba(255, 255, 255, 0.7);
// 	color: #333;
// 	position: fixed;
// 	text-align: right;
// 	top: 0;
// 	right: 0;
// 	padding: 10px 15px;
// 	margin: 0;
// 	z-index: 100;
// }

// .slider {
// 	position: relative;
// 	overflow: hidden;
// 	height: 100vh;
// 	width: 100vw;
// }

// .slide {
// 	background-position: center center;
// 	background-size: cover;
// 	position: absolute;
// 	top: 0;
// 	left: 100%;
// 	height: 100%;
// 	width: 100%;
// }

// .slide.active {
// 	transform: translateX(-100%);
// }

// .slide .info {

//   color: #fff;
// 	padding: 20px 15px;
// 	position: absolute;
// 	opacity: 0.1;
// 	top: 80px;
// 	left: 40px;
// 	text-align: center;
// 	width: 300px;
// 	max-width: 100%;
// }

// .slide.active .info{
// 	opacity: 1;
// 	transform: translateY(-40px);
// 	transition: all 0.5s ease-in-out 0.8s;
// }

// .slide .info h1 {
// 	margin: 10px 0;
// }

// .slide .info p {
// 	letter-spacing: 1px;
// }

// .eraser {
// 	/* background: #f5f5f5e5; */
// 	position: absolute;
// 	transition: transform 0.5s ease-in-out;
//   opacity: 0.95;
// 	top: 0;
// 	left: 100%;
// 	height: 100%;
// 	width: 100%;
// 	z-index: 100;
// }

// .eraser.active {
// 	transform: translateX(-100%);
// }

// .buttons-container {
// 	position: absolute;
// 	bottom: 50px;
// 	right: 60px;

  
// }

// .buttons-container button {
// 	border: 2px solid #fff;
// 	background-color: transparent;
// 	color: #fff;
// 	cursor: pointer;
// 	padding: 8px 30px;
//   margin-right: 10px;
// }

// .buttons-container button:hover {
// 	background-color: #fff;
// 	color: #A9A9A9;
//   opacity: 0.9;
// }


// @media (max-width: 400px) {
// 	.slide .info {
// 		top: 100px;
// 		left: 10px;
// 	}
// }

// new slider sssssssssssssssssssssssssssssssssssssssss


// <!-- new cde jkkbjgkbjgkblfglkblfkglbkflklkfklk -->

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* or auto if responsive */
  overflow: hidden;
}
.slider-one,
.slider-two,
.slider-three,
.slider-four {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: slider-one 12s linear infinite;

  .slider-one-image,
  .slider-two-image,
  .slider-three-image,
  .slider-four-image {
    width: 110%;
    height: 100%;
    background-image: url("/images/RD1.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoom-out 3s linear infinite;
   


    .slider-text {
      position: absolute;
      top: 40%;
      left: 5%;
      color: #ffffff;
      width: 600px;
      text-transform: capitalize;
      animation: text-up 12s linear infinite;
      transform: translateY(100px);
      animation-delay: 0s;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

.slider-two {
  animation: slider-two 12s linear infinite;

  .slider-two-image {
    background-image: url("/images/Franchise2.jpg");
    .slider-text {
      animation-delay: 3s;
    }
  }
}

.slider-three {
  animation: slider-three 12s linear infinite;

  .slider-three-image {
    background-image: url("/images/Vertex.jpg");

    .slider-text {
      animation-delay: 6s;
    }
  }
}

.slider-four {
  animation: slider-four 12s linear infinite;

  .slider-four-image {
    background-image: url("/images/slider2.jpg");
    .slider-text {
      animation-delay: 9s;
    }
  }
}

@keyframes text-up {
  10% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}


@keyframes slider-one {
  0% {
    visibility: visible;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes slider-two {
  0% {
    visibility: hidden;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: visible;
  }

  75% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes slider-three {
  0% {
    visibility: hidden;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes slider-four {
  0% {
    visibility: hidden;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}


