.banner-area {
    &::after {
        background: rgba(61, 255, 162, 0.22);
        filter: blur(100px);
    }

    // Variables (optional)
$slider-height: 500px;
$slider-info-max-width: 600px;
$control-bg: rgba(0, 0, 0, 0.5);
$control-color: #fff;
$transition-speed: 1s;
$z-slide: 1;
$z-active-slide: 2;
$z-info: 3;
$z-controls: 4;

.custom-slider {
  position: relative;
  height: $slider-height;
  overflow: hidden;

  .slide {
    position: absolute;
  width: 100%;
  height: 81%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
  // margin-top:30px;

    &.active {
      opacity: 1;
      z-index: $z-active-slide;
    }
  }

  .info {
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: white;
    z-index: $z-info;
    max-width: $slider-info-max-width;
  }

  .shadow-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: $z-active-slide;
    pointer-events: none;
  }

  .controls {
    position: absolute;
    bottom: 67px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: $z-controls;

    button {
      background-color: $control-bg;
      border: none;
      color: $control-color;
      padding: 10px 20px;
      margin: 0 5px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

}
.banner-area[_ngcontent-ng-c2116913799] .custom-slider[_ngcontent-ng-c2116913799] .controls[_ngcontent-ng-c2116913799] button[_ngcontent-ng-c2116913799]{
  background-color: rgba(239, 243, 244, 0.06);
  border: none;
  color: #000;
  padding: 36px 20px;
  margin: 0 5px;
  font-size: 51px;
  cursor: pointer;
}

@media (max-width: 640px) {

.slide {
  position: absolute;
width: 100%;
height: 81%;
background-size: cover;
background-position: center;
opacity: 0;
transition: opacity 1s ease;
z-index: 1;
// margin-top:10px;
}
}
