<div class="marquee-container overflow-hidden whitespace-nowrap bg-warning h-[83px] lg:h-[97.45px] py-4 -ml-5 -mr-5 relative z-10">
    <div class="marquee-text inline-block animate-marquee">
      <span class="marquee-item">
        <strong class="text-[30px] md:text-[38px] lg:text-[48px] font-bold leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]">
            Easy Payment <img src="images/shapes/star.png" class="inline-block ml-[35px]" alt="star">
        </strong>
      </span>
      <span class="marquee-item ml-10">
        <strong class="text-[30px] md:text-[38px] lg:text-[48px] font-bold leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]">
          Reliable Platform <img src="images/shapes/star.png" class="inline-block ml-[35px]" alt="star">
        </strong>
      </span>
      <span class="marquee-item ml-10">
        <strong class="text-[30px] md:text-[38px] lg:text-[48px] font-bold leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]">
          Vertex Kalyan <img src="images/shapes/star.png" class="inline-block ml-[35px]" alt="star">
        </strong>
      </span>
      <span class="marquee-item ml-10">
        <strong class="text-[30px] md:text-[38px] lg:text-[48px] font-bold leading-tight -tracking-[.30px] md:-tracking-[1px] lg:-tracking-[1.92px]">
          Co-operative Trust <img src="images/shapes/star.png" class="inline-block ml-[35px]" alt="star">
        </strong>
      </span>
    </div>
</div>