::ng-deep {
    .owl-carousel {
        .owl-item {
            width: auto !important;
            
            div {
                color: transparent;
                -webkit-text-stroke: 2px #000000;
            }
            img {
                width: 52px !important;
                display: inline !important;
            }
        }
    }
    
    @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
    }
      
    .marquee-container {
        position: relative;
        isolation: isolate;
    }
      
    .marquee-text {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 16s linear infinite;
        color: #171717;
    }
    
    .marquee-container:hover .marquee-text {
        animation-play-state: paused;
    }
    
    @media (min-width: 992px) {
        .lg\:h-\[97\.45px\] {
          height: 49.45px;
          width: 100%;
        }
    }
    
    @media (min-width: 992px) {
        .lg\:text-\[48px\] {
          font-size: 18px;
        }
    }
    
    @media (min-width: 992px) {
        .lg\:-tracking-\[1\.92px\] {
          letter-spacing: 0.08px;
        }
    }
}