.number {
    color: transparent;
    -webkit-text-stroke: 1px var(--primaryColor);
}
.bg-white {
    --tw-bg-opacity: 1;
    // background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    background: linear-gradient(90deg, rgb(251, 175, 1), #FFD15C78);
    margin: 8px;
  }
  .leading-relaxed {
    line-height: 1.625;
    font-size: 14px;
    color: black;
    text-align: justify;
    padding: 15px;
  }
  .group:hover .group-hover\:text-primary {
    --tw-text-opacity: 1;
    color: rgb(223, 18, 13);
  }
  @media (min-width: 1200px) {
    .xl\:py-130 {
      // padding-top: -49px;
      padding-bottom: 50px;
      padding-top: 43px;
    }
  }
  @media (min-width: 1200px) {
    .xl\:py-130[_ngcontent-ng-c2331450956] {
      padding-top: -49px;
      padding-bottom: 38px;
      padding-top: 43px;
    }
  }

  // about us  lining
.comp-kkgi89rs {
  width: 140px;
  height: 5px;
}
.comp-kkgi89rs {
  --lnw: 3px;
  --brd: 66,66,66;
  --alpha-brd: 1;
}

.aVng1S {
  border-top: var(--lnw,2px) solid rgba(var(--brd,var(--color_15,color_15)),var(--alpha-brd,1));
  box-sizing: border-box;
  height: 0;
  position: relative;
  margin: 0px 0px 53px calc((100% - 980px) * 0.5);
  left: 432px;
}
.bg_img{
    width: 94%;
    height: auto;
    padding: 4px;
}
.w-full {
    width: 49%;
    border-radius: 50%;       /* Makes it a perfect circle */
    object-fit: cover;        /* Ensures the image fills the container without distortion */
    border: 3px solid #ffd15c;
   
  }
  .w-20 {
    width: 51%;
  }
  .h-20 {
    height: 186px;
  }
  .t_ceter
  {
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color: #000;
  }
  // about us  lining
  .comp-kkgi89rs {
    width: 200px;
    height: 5px;
  }
  .comp-kkgi89rs {
    --lnw: 3px;
    --brd: 66,66,66;
    --alpha-brd: 1;
  }
  
  .aVng1S {
    border-top: var(--lnw,2px) solid rgba(var(--brd,var(--color_15,color_15)),var(--alpha-brd,1));
    box-sizing: border-box;
    height: 0;
    position: relative;
    margin: 0px 0px 53px calc((100% - 980px) * 0.5);
    left: 432px;
  }