
<section class="py-20 bg-[rgb(235,234,239)]">
  <div class="container mx-auto px-4">
    <div id="comp-kkgi794s" class="Z_l5lU ku3DBC zQ9jDz qvSjx3 Vq6kJx comp-kkgi794s wixui-rich-text" data-testid="richTextElement" data-motion-enter="done">
      <h2 class="font_2 wixui-rich-text__text" style="font-size:45px; line-height:normal; text-align:center;"><span style="font-family:playfairdisplay-bold,playfair display,serif;" class="wixui-rich-text__text">
      <span class="color_43 wixui-rich-text__text">
        <span style="font-size:45px;" class="wixui-rich-text__text">
      <span style="letter-spacing:0.05em;" class="wixui-rich-text__text">About</span></span></span><span style="color:#FFD15C;" class="wixui-rich-text__text">
      <span style="font-size:45px;" class="wixui-rich-text__text">
        <span style="letter-spacing:0.05em;" class="wixui-rich-text__text"> Us</span></span></span></span></h2>
      </div>
        <div class="comp-kkgi89rs comp-kkgi89rs aVng1S wixui-horizontal-line" style="--motion-width: 118px; --motion-height: 5px;" data-motion-enter="done"></div>
    
        <div class="grid md:grid-cols-2 gap-10 items-center">
          <div class="about-text">
            <p>
              <span class="highlight-number">Vertex Kalyan Cooperative</span>  Urban Thrift and Credit Society Limited. government registered organization is a membership based financial cooperative establishment. It is dedicated to promote financial well-being, self-reliance, and community development.  Registered under the Cooperative Societies Act, we offer secure and ethical financial services created according to the needs of our members across India.Vertex Kalyan Cooperative Urban Thrift and Credit Society Ltd. is multi faceted business organization serving society in various forms , vertexsociety.com services is held its position high in the various ventures that it forayed into , as a socially responsive organization land as an upcoming financial services providing products as well as a business opportunity has created a niche for itself blessings of millions has pared way for exponential growth of Vertex Kalyan Cooperative Society.   
            </p>
          
            <p>
              Through our principles of mutual help, responsibility, and transparency, the society offer all tailored to meet the diverse needs of our members to achieve their and their families’ financial goals. Also as a future oriented thrift and credit society, we combine traditional cooperative values with modern technology. Our members can manage the savings, loans and financial records easily through our dedicated website and mobile app and user friendly website- avail real-time access, faster processing, and full transparency.
            </p>
         
          
           

            <div class="services-btn">
              <a href="/about">Read More</a>
            </div>
          </div>

      <div>
        <div class="col-lg-6">
          <div class="about-img">
          <img src="images/about_usimg.png" alt="About">
         
          </div>
          </div>
      
      </div>
    </div>
  </div>
</section>

<!-- ,lsdlvdfkbkgkbgkblgflkfg -->
