<!-- About Us -->
<div id="pagetitle" class="page-title">
 
      <div class="page-title-inner">
        <div class="page-title-holder">
          <h1 class="page-title">About us</h1>
        </div>
  
        <ul class="ct-breadcrumb">
          <li>
            <a class="breadcrumb-entry" routerLink="/Home">Home</a>
          </li>
          <li>
            <span class="breadcrumb-entry">About</span>
          </li>
        </ul>
      </div>

  </div>
  <div class="bg-white py-12">
    <div class="container mx-auto px-6 lg:px-12" style="margin-top: 20px;">
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 items-center">
  
        <!-- Left Image (6/12) -->
        <div class="lg:col-span-6">
          <img src="images/slider2.jpg" class="rounded-lg w-full h-auto" alt="about-image">
        </div>
  
        <!-- Right Text (6/12) -->
        <div class="lg:col-span-6 xl:pl-8" style="margin-left: 25px;">
          <h2 class="text-black font-bold text-[25px] md:text-[35px] lg:text-[38px] xl:text-[40px] mb-6">
            <span class="block text-[#db397a]">Welcome To</span>
            Vertex Kalyan Cooperative Society
          </h2>
          <p class="text-[14px] md:text-[15px] lg:text-[16px] text-gray-600 leading-relaxed mb-4">
            Vertex Kalyan Cooperative Urban Thrift and Credit Society Limited is focused on empowering its members and promoting their collective well-being through self-help and mutual aid, while also contributing to the broader social community.    
          </p>
          <p class="text-[14px] md:text-[15px] lg:text-[16px] text-gray-600 leading-relaxed mb-0">
            We provide financial support for livelihoods, access to economic development, and ensure social equality. 
          </p>
        </div>
  
      </div>
    </div>
  </div>
  

<app-business-needs />

<app-our-commitment />

<app-team />

<app-partners />

<!-- <app-collecting-payments /> -->

<app-subscribe />