<!-- Default Section -->
<!-- <div
    class="pt-60 md:pt-80 lg:pt-100 xl:pt-130 pb-[135px] md:pb-[130px] lg:pb-[190px] xl:pb-[230px] bg-gray relative z-1 -mb-80 md:-mb-90 lg:-mb-100"
    [ngClass]="{'hidden': router.url === '/index-2'}"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="bg-[#f7f7f7] py-60 md:py-80 lg:py-100 xl:py-130 px-20 rounded-[10px]">
            <div class="text-center -mt-5 md:-mt-[8px] lg:-mt-10 xl:-mt-15 md:mx-auto md:max-w-[900px]">
                <h2 class="font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-[12px] md:mb-15 lg:mb-20 xl:mb-25">
                    What Our Members Say? <br> Real stories. Real trust. Real impact.
                </h2>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-secondary md:mx-auto md:max-w-[600px] lg:max-w-[700px] xl:max-w-[800px] leading-[1.8]">
                    We’re proud to have earned the trust of thousands of members who rely on us for secure savings, easy loans, and friendly support. Their satisfaction drives everything we do.
                    
                </p>
                
            </div>
        </div>
    </div>
    <div class="absolute left-0 right-0 -z-1 bottom-0 pointer-events-none text-center hidden xl:block">
        <img src="images/shapes/shape3.png" class="inline" alt="shape3">
    </div>
</div> -->

<!-- Section For Only Home Demo - 2 -->
<!-- <div
    class="py-60 md:py-80 lg:py-100 xl:py-130 relative z-1"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="text-center -mt-5 md:-mt-[8px] lg:-mt-10 xl:-mt-15 md:mx-auto md:max-w-[900px]">
            <h2 class="font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-[12px] md:mb-15 lg:mb-20 xl:mb-25">
                What Our Members Say? <br> Real stories. Real trust. Real impact.
            </h2>
            <p class="text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] text-secondary md:mx-auto md:max-w-[600px] lg:max-w-[700px] xl:max-w-[800px] leading-[1.8]">
                We’re proud to have earned the trust of thousands of members who rely on us for secure savings, easy loans, and friendly support. Their satisfaction drives everything we do.
            </p>
            
        </div>
    </div>
    <div class="absolute left-0 right-0 -z-1 -top-[70%] pointer-events-none text-center hidden xl:block">
        <img src="images/shapes/shape4.png" class="inline" alt="shape3">
    </div>
</div> -->