//   nav op design
.phone-icon {
    color: #df120d;
  font-size: 24px;
  border: 1px solid #df120d;
  border-radius: 50%;
  padding: 7px 10px;            
  }
  .logo-img[_ngcontent-iio-c55] {
    width: 26px;
    height: 28px;
  }
  .logo-text h3{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
    font-style: inherit;
    text-decoration: none;
    font-family: Calibri;
  }


  .logo-wrapper {
    .logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-left: 65px;
  
      img {
        height: 60px;
        width: auto;
      }
  
      h3 {
        margin-left: 12px;
        color: #000;
        margin-bottom: 0;
        font-size: 1.25rem;
        font-weight: 900;
      }
    }
  }
  
  // 
  .fb-inst {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fb-dialog {
    background: white;
    position: relative;
    padding: 0;
    max-width: 90%;
    max-height: 90%;
  }
  
  .fb-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .fb-backdrop {
    position: fixed;
    inset: 0;
    z-index: -1;
  }
  .top-bar {
    @media (max-width: 639px) {
      display: none !important;
    }
  }