<div class="hidden sm:flex w-full top-bar justify-between items-center px-6 py-2 text-sm text-black bg-white border-b border-gray-200">
 <div class="col-md-6 col-lg-6 col-xs-12 hide_text">
            <div class="logo-wrapper">
                <a href="#" class="logo-link">
                  <img src="images/white-logo.png"phone.png alt="logo" />
                  <h3>Vertex Co-operative Society</h3>
                </a>
              </div>
          </div>
 
      <div class="col-md-6 col-lg-6 col-xs-12 hide_text">
      <div class="col-md-4" id="topcontactdetail">
        <div class="col-md-12">
            <div class="calldiv">
              <!-- <img src="images/phone.png" alt="call" style="width: 35px;height: 35px;padding: 2px;"/> -->
                <span style="margin: 0px 12px 0px 12px; float: right; font-weight: bold;margin-right: 32px;">Call Us: 011-45595003<br> 9:30am to 5:30pm (Mon – Sat)</span>
            </div>
        </div>
    </div> 
      </div>
</div>
  