<div class="mt-[30px] py-60 md:py-80 lg:py-100 xl:py-130 bg-primary relative z-1 before:left-0 before:right-0 before:bottom-0 before:-z-1 before:bg-white before:h-[38%] before:absolute">

    <div class="px-10 sm:px-0 container mx-auto">
        
        <h2 class="text-white font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] lg:max-w-[915px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-[8px] lg:-mt-[10px] xl:-mt-[12px] mb-30 md:mb-40 lg:mb-50 xl:mb-60">
            Your Cash Management Accounts Unlock More than Vertex Co-operative society
        </h2>
        <div class="xl:pl-[200px] 2xl:pl-[280px] 3xl:pl-[365px]">
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-25 lg:gap-30">
                <div class="bg-[#eff3eb] rounded-lg p-20 md:p-25 lg:pt-25 lg:pb-40 lg:px-30">
                    <img src="images/digital-banking/deposits.jpg" class="inline rounded-lg" alt="db-image">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] mb-5 lg:mb-[8px] mt-[12px] md:mt-15 lg:mt-20">
                        Deposits
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.6]">
                        Secure your savings and earn steady returns with flexible deposit plans tailored for members.
                    </p>
                </div>
                <div class="bg-[#eff3eb] rounded-lg p-20 md:p-25 lg:pt-25 lg:pb-40 lg:px-30">
                    <img src="images/digital-banking/loan.jpg" class="inline rounded-lg" alt="db-image">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] mb-5 lg:mb-[8px] mt-[12px] md:mt-15 lg:mt-20">
                        Loan
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.6]">
                        Get fast, affordable loans with transparent terms to meet your personal or business needs.
                    </p>
                </div>
                <div class="bg-[#eff3eb] rounded-lg p-20 md:p-25 lg:pt-25 lg:pb-40 lg:px-30">
                    <img src="images/digital-banking/ccard.jpg" class="inline rounded-lg" alt="db-image">
                    <h3 class="text-black font-semibold text-[20px] md:text-[22px] lg:text-[24px] mb-5 lg:mb-[8px] mt-[12px] md:mt-15 lg:mt-20">
                        Credits
                    </h3>
                    <p class="text-[14px] md:text-[15px] lg:text-[16px] text-secondary leading-[1.6]">
                        Enjoy easy access to funds with our low-interest credit card — designed for co-operative trust and convenience.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>