.fd_bene_box h3{
    font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
    margin-bottom: 0px;
  margin-bottom: 0px;
  width: 90%;
  margin-bottom: 1rem;
  color: white;
}
.fd_bene_box p{
  color: white;
}
.fd_bene_box
{
    width: 95%;
    margin: 0 auto;
      margin-bottom: 0px;
    margin-bottom: 0px;
    border: dashed 0.2rem #efb500;
    padding: 3rem 2rem;
      padding-top: 3rem;
    padding-top: 3rem;
    padding-top: 4rem;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
    min-height: 220px; 
}
.fd_bene_box span {
    position: absolute;
    right: 3rem;
    top: -6rem;
  }
  .fd_main .fd_explore .mf_search_header p {
    font-size: 1.6rem;
    color: #000;
    line-height: 3.5rem;
    width: 100%;
    float: left;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .max-w-md {
    max-width: 28rem;
  }
  .leading-relaxed {
    line-height: 1.625;
    text-align: justify;
  }