<div class="relative z-1 before:left-0 before:right-0 before:bottom-0 before:-z-1 before:absolute before:bg-white before:h-70 md:before:h-40 xl:before:h-50 2xl:before:h-[125px]">
  <div class="px-10 sm:px-0 container-fluid  mx-auto">
      <div class="grid grid-cols-1 gap-25">
         
          <div class="2xl:-ml-40">
              <img src="images/guaranteed_loan.jpg" alt="services-image" style="height: 558px;width: 100%;">
          </div>
      </div>
  </div>
</div>
<section class="mf_detail bbps py-10">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
      <h3 class="text-2xl font-bold">Select Categories</h3>
    </div>
    <div class="bbps_bg">&nbsp;</div>


    <div>
      <div id="main_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="bbps_prod justify-content-start ">
            

                <a href="/PersonalLoan" name="PersonalLoan">
                  <div class="bbps_prod_img_box">
                    <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/broadband-landline.svg?ver=1.13" alt="Broadband Landline">
                  </div>
                  <h5>Personal Loan </h5>
                </a>

                <a href="/selfhelpgroup" class="active" name="SelfHelpgroup">
                  <div class="bbps_prod_img_box">
                    <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/electricity.svg?ver=1.13" alt="Electricity">
                  </div>
                  <h5>Self Help Group (SHG)</h5>
                </a>


                <a href="/loanagainstFD" name="LoanAgainstFD">
                  <div class="bbps_prod_img_box">
                    <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/dth.svg?ver=1.13" alt="DTH">
                  </div>
                  <h5>Loan Against FD</h5>
                </a>

                <a href="/loanagainstFD" name="Loan">
                  <div class="bbps_prod_img_box">
                    <img src="https://investkraft-new.s3.ap-south-1.amazonaws.com/web_app/live/assets/images/svg/lpg-gas.svg?ver=1.13" alt="LPG Gas">
                  </div>
                  <h5>Loan Against FD</h5>
                </a>

             
              
              </div>
            </div>
          </div>

        
        
        </div>
      </div>
    </div>
    </div>
    
  </section>


<!-- <app-services />  -->

