<div class="pt-[105px] md:pt-[135px] lg:pt-[165px] xl:pt-[105px] pb-60 md:pb-80 lg:pb-100 xl:pb-60 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-25">
            <div class="self-center">
                <div class="xl:pl-40 2xl:pl-[98px] xl:mt-30">
                    <span class="block text-primary text-[15px] md:text-[16px] lg:text-[20px] lg:text-[20px] font-semibold">
                        Self-Help Groups
                    </span>
                    <h1 class="xl:max-w-[535px] font-bold text-black text-[25px] md:text-[35px] lg:text-[48px] xl:text-[57px] leading-[1.25] mt-[12px]">
                        Group-based savings and credit solutions.
                    </h1>
                </div>
            </div>
            <div class="md:text-right self-center 3xl:pr-65">
                <img src="images/shg.png" class="inline" alt="cashback-image">
            </div>
        </div>
    </div>
</div>


<div class="py-60 md:py-80 lg:py-100 xl:py-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-25">
            <div class="self-center relative xl:pl-[110px] md:pr-[110px] xl:pr-0 xl:-mr-55">
                <img src="images/shg.jpg" class="rounded-[10px] md:rounded-[30px]" alt="lifetime-rewards-image">
                <!-- <div class="md:absolute right-0 xl:right-auto xl:left-0 md:top-1/2 md:-translate-y-2/4 bg-warning text-black rounded-[10px] md:rounded-[30px] px-20 py-30 md:px-30 md:py-40 lg:px-40 lg:py-50 mt-25 md:mt-0">
                    <h3 class="text-black font-medium text-[20px] md:text-[22px] lg:text-[24px] leading-none mb-15 md:mb-20 xl:mb-25">
                        Lifetime rewards
                    </h3>
                    <div class="text-[30px] md:text-[35px] lg:text-[48px] font-bold text-black leading-none">
                        ₹ 10000
                    </div>
                </div> -->
            </div>
            <div class="self-center xl:pl-65 2xl:pl-100">
                <h2 class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-[8px] mb-[12px] md:mb-15 lg:mb-[18px]">
                    Empowerment Circles
                </h2>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mb-15">
                    Self-Help Groups (SHGs) are small, voluntary associations of individuals—often from similar socio-economic backgrounds—who come together to save regularly, access small loans, and support one another financially
                </p>
                <p class="text-[14px] md:text-[15px] lg:text-[16px] leading-[1.8] text-secondary mb-15">
                    These groups promote discipline, mutual trust, and collective decision-making, empowering members to take control of their financial future through shared responsibility and cooperation.SHGs are especially powerful tools for women and rural populations, offering a path to independence, entrepreneurship, and stronger financial resilience — one group at a time.
                </p>
            </div>
        </div>
    </div>
</div>