<footer class="bg-gray pt-60 md:pt-80 lg:pt-40 ">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid lg:grid-cols-2 gap-25">
            <div class="lg:pr-[150px] 3xl:pr-[110px]">
                <a routerLink="/" class="logo inline-block">
                    <img src="images/white-logo.png" alt="logo" class="w-[120px]"> 
                </a>
                <h3 class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-medium md:max-w-[305px] mt-[15px] md:mt-[60px] lg:mt-100 xl:mt-[28px] leading-[1.3] mb-15 md:mb-20">
                    The Bank Account For Your Side Hustle.
                </h3>
                <a routerLink="register"  class=" pr-20 pl-20 text-black py-[9px] inline-block rounded-full border font-medium  transition-all relative hover:bg-black hover:text-white">
                    
                    Register Now
                </a>
            </div>
            <!--  -->
            <div class="lg:-ml-[150px] 3xl:-ml-[110px]">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 text-center md:text-left">
                  
                  <!-- Company and Team -->
                  <div>
                    <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-3">
                      Company and Team
                    </h3>
                    <ul>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/awards-recognition" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Awards and Recognition
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/news-and-events" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          News and Events
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/contact" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Careers
                        </a>
                      </li>
                    </ul>
                  </div>
              
                  <!-- Services -->
                  <div>
                    <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-3">
                      Services
                    </h3>
                    <ul>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/deposits-services" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Compulsory Savings
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/deposits-services" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Recurring Deposit
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/deposits-services" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Fixed Deposit
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/loans-services" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Loans
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/loans-services" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Credit Cards
                        </a>
                      </li>
                    </ul>
                  </div>
              
                  <!-- Get Help -->
                  <div>
                    <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-3">
                      Get Help
                    </h3>
                    <ul>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/faq" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          FAQ
                        </a>
                      </li>
                      <li class="mb-3 last:mb-0">
                        <a routerLink="/contact" class="text-[14px] md:text-[15px] text-secondary hover:text-primary">
                          Contact
                        </a>
                      </li>
                    </ul>
                  </div>
                  
                </div>
              </div>
              
              

            <!-- bbbb -->
        </div>
        <div class="border-t border-[#dddddd] mt-60 md:mt-24 pt-0 md:pt-7 pb-25 md:pb-15">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-25 text-center lg:text-left">
              
              <!-- Left Side -->
              <div>
                <p class="text-[14px] md:text-[15px] text-secondary">
                 Vertex All Rights Reserved
                </p>
              </div>
          
              <!-- Right Side -->
              <div class="3xl:pl-[140px]">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-10 justify-center">
                  <div>
                    <a
                      routerLink="/legal"
                      class="text-[13.5px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                    >
                      Legal
                    </a>
                  </div>
                  <div>
                    <a
                      routerLink="/privacy-policy"
                      class="text-[13.5px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                    >
                      Privacy Policy
                    </a>
                  </div>
                  <div>
                    <a
                      routerLink="/terms-conditions"
                      class="text-[13.5px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute"
                    >
                      Terms of Use
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
    </div>
</footer> 


