.text-black {
    --tw-text-opacity: 1;
    color: rgb(255, 209, 92);
    font-weight: bold;
    margin-bottom: 10px;
  }
  .text-secondary {
    --tw-text-opacity: 1;
    color: rgb(255, 255, 255);
  }
  .bg-gray {
    --tw-bg-opacity: 1;
    background-color: rgb(1, 26, 65);
  }

  