  // about us  lining
  .comp-kkgi89rs {
    width: 200px;
    height: 5px;
  }
  .comp-kkgi89rs {
    --lnw: 3px;
    --brd: 66,66,66;
    --alpha-brd: 1;
  }
  
  .aVng1S {
    border-top: var(--lnw,2px) solid rgba(var(--brd,var(--color_15,color_15)),var(--alpha-brd,1));
    box-sizing: border-box;
    height: 0;
    position: relative;
    margin: 0px 0px 53px calc((100% - 980px) * 0.5);
    left: 432px;
  }

  //slide
  /* component.css or global styles */
  .section-title__title {
    margin: 0;
      margin-top: 0px;
    color: var(--oxpins-black);
    font-size: 50px;

  line-height: 40px;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-top: 6px;
  font-size: 33px;
  line-height: 47px;
  }
 /* Hide scrollbar (optional) */
 .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: #fff;
  margin: 8px;
}
// linig 
.comp-kkgi89rs {
  width: 200px;
  height: 5px;
}
.comp-kkgi89rs {
  --lnw: 3px;
  --brd: 66,66,66;
  --alpha-brd: 1;
}

.aVng1S {
  border-top: var(--lnw,2px) solid rgba(var(--brd,var(--color_15,color_15)),var(--alpha-brd,1));
  box-sizing: border-box;
  height: 0;
  position: relative;
  margin: 0px 0px 53px calc((100% - 980px) * 0.5);
  left: 432px;
}

// text
.t_ceter[_ngcontent-ng-c2779934100] {
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  color: #000;
}
.leading-relaxed[_ngcontent-ng-c2779934100] {
  line-height: 1.625;
  font-size: 14px;
  color: black;
  text-align: justify;
  padding: 15px;
  padding: 2px;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 7px;
}


@media (max-width: 767px) {
  .w-full {
    width: auto;
  }
  .bg-white[_ngcontent-ng-c321416114] {
    --tw-bg-opacity: 1;
    background-color: #fff;
    margin: 35px;
    padding: 5px;
  }
}

// slider
/* Slider */
.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;

  animation: scroll 30s linear infinite;
}

.slider-item {
  min-width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: relative;
}

.bg-image {
  width: 100%;
  height: 58vh;
  background-size: cover;
  background-position: center;
}
.bg-2{
  background-image: url('/images/WhyChooseUs.png');}
  .bg-3{ 
     background-image: url('/images/WhyChooseUs1.png');}
  .bg-4{
    background-image: url('/images/WhyChooseUs.png');
  }
  .bg-5{ 
    background-image: url('/images/WhyChooseUs1.png');}
    .bg-6{
      background-image: url('/images/WhyChooseUs.png');
    }
    .bg-7{ 
      background-image: url('/images/WhyChooseUs1.png');}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-400%); } /* depends on number of items */
}

  // slider