



<section class=" py-20 elementor-top-section elementor-element elementor-element-412fbbd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="412fbbd" data-element_type="section">
  <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dc4e3fc" data-id="dc4e3fc" data-element_type="column">

<div class="elementor-widget-wrap elementor-element-populated">
  <div class="elementor-element elementor-element-adc5e5d elementor-widget elementor-widget-heading" data-id="adc5e5d" data-element_type="widget" data-widget_type="heading.default">

</div>
<div class="elementor-element elementor-element-5422cf2 elementor-widget elementor-widget-image" data-id="5422cf2" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
     <img loading="lazy" decoding="async" width="1624" height="467" src="images/Vertex_Kalyan_ThriftCreditSociety.png" class="attachment-full size-full wp-image-44262" alt="" srcset="images/Vertex_Kalyan_ThriftCreditSociety.png 1624w, images/Vertex_Kalyan_ThriftCreditSociety.png 300w, images/Vertex_Kalyan_ThriftCreditSociety.png 1024w, images/Vertex_Kalyan_ThriftCreditSociety.png 768w, images/Vertex_Kalyan_ThriftCreditSociety.png 1536w" sizes="(max-width: 1624px) 100vw, 1624px">															</div>
</div>
</div>
</div>
</div>
</section>

<section class="mt-12 mb-12 px-4">
  <div class="container mx-auto px-4">
  <div 
    class="relative bg-cover bg-center bg-no-repeat transition-all duration-300 rounded-lg"
    style="
      background-image: url('/images/contactcall.jpg');
      padding: 37px 45px;" >
    <div class="max-w-6xl mx-auto grid md:grid-cols-2 items-center">

      <!-- Left content -->
      <div class="text-white space-y-6">
        <h2 class="text-3xl md:text-4xl font-bold leading-snug" style='font-family: "Libre Baskerville", serif;'>
          Vertex Kalyan Cooperative <br>
          Urban Thrift and Credit Society Limited.
        </h2>

        <a href="/branches"
        class=" bgclor inline-block bg-red-500 text-white font-semibold px-8 py-3 rounded-full shadow-lg transition-all duration-300 hover:bg-red-600 hover:scale-105 hover:shadow-xl">
       Contact Us
     </a>
      </div>

      <div class="hidden md:block">
   
      </div>

    </div>
  </div>
  </div>
</section>




<!-- <section class="py-20" style="background-color: #fff;">
  <div class="container mx-auto px-4 py-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      
  
      <div class=" rounded-xl  overflow-hidden text-center p-2">
       
        <h2 class="section-title__title">Our Events<br>&amp;<br>Certificate</h2>
      </div>
  

      <div class="bg-white rounded-xl shadow-lg overflow-hidden text-center p-6">
        <img src="images/SAHYOGCARD.jpg" alt="Image 2" class="w-full h-48 object-cover mb-4 rounded-lg">
      
      </div>
  

      <div class="bg-white_bg rounded-xl shadow-lg overflow-hidden text-center p-4">
       
        <div class="relative w-full" style="padding-top: 68.25%"> 
          <iframe 
            class="absolute top-0 left-0 w-full h-full rounded-lg shadow-lg"
            src="https://www.youtube.com/embed/q2AVNmT8ERE?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>
  
    </div>
  </div>
  </section> -->


  <section class="py-20" style="background-color: #fff;">
    <div class="container-fluid mx-auto px-4 py-10" style="margin-left: 15px;margin-right: 15px;">
      <div class="grid grid-cols-12 gap-6">
        
        <!-- Column 1 (2/12 = col-2) -->
        <div class="col-span-12 md:col-span-2 rounded-xl overflow-hidden text-center p-2">
          
          <h2 class="section-title__title" style="text-align:center; margin-top: 55px;">Our Events<br>&amp;<br>Certificate</h2>
        </div>
    
        <!-- Column 2 (6/12 = col-6) -->
        <div class="col-span-12 md:col-span-6 bg-[rgb(235,234,239)] rounded-xl shadow-lg overflow-hidden text-center p-6">
          <!-- <img src="images/SAHYOGCARD.jpg" alt="Image 2" class="w-full h-48 object-cover mb-4 rounded-lg"> -->
          <div class="slider-container">
            <div class="slider-track">
              <div class="slider-item"><figure class="bg-image bg-2"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-3"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-4"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-5"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-6"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-7"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-8"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-9"></figure></div>
              <div class="slider-item"><figure class="bg-image bg-10"></figure></div>
            </div>
          </div>
        </div>
        
    
        <!-- Column 3 (4/12 = col-4) -->
        <div class="col-span-12 md:col-span-4 bg-[rgb(235,234,239)] rounded-xl shadow-lg overflow-hidden text-center p-4" style="margin-left: 20px;">
          <div class="relative w-full" style="padding-top: 105%"> 
            <iframe 
              class="absolute top-0 left-0 w-full h-full rounded-lg shadow-lg"
              src="https://www.youtube.com/embed/q2AVNmT8ERE?rel=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        </div>
    
      </div>
    </div>
  </section>



