<!-- <div
    class="py-60 md:py-80 lg:py-100 xl:py-130"
    [ngClass]="{'bg-gray': router.url === '/index-2'}"
>
    <div class="px-10 sm:px-0 container mx-auto">
        <h2 class="text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold lg:mx-auto lg:max-w-[780px] text-center md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-15 mb-30 md:mb-40 lg:mb-50">
            No Monthly Fees. Just Transparent, Member-Friendly Pricing.
        </h2>
        <div class="overflow-x-auto">
            <table class="w-full text-center whitespace-nowrap text-black text-[14px] md:text-[15px]">
                <thead>
                    <tr>
                        <th class="text-left font-medium py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                    
                        </th>
                        <th class="bg-warning py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                            <img src="images/white-logo.png" style="width: 100px;" class="inline" alt="logo">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="block font-medium">
                                Refundable Deposit
                            </span>
                            <span class="block text-[12px] mt-5 md:mt-10">
                                (Shared Money + Compulsory Deposit)
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-30 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="block font-medium text-[16px] md:text-[18px] lg:text-[20px]">
                                ₹ 200
                            </span>
                            <span class="inline-block relative text-[14px] md:text-[16px] mt-[7px] pl-25 font-medium">
                                (₹ 100 + ₹ 100)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}"
                        >
                            <span class="block font-medium">
                                Admission Fee
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="block font-medium">
                                ₹ 100
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}"
                        >
                            <span class="block font-medium">
                                Building Fund
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="block font-medium">
                                ₹ 100
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}"
                        >
                            <span class="block font-medium">
                                Welfare Fund
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="block font-medium">
                                ₹ 100
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}"
                        >
                            <span class="block font-medium">
                                Other Deposits
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="block font-medium">
                                ₹ 100
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}"
                        >
                            <span class="block font-medium">
                                Non-Refundable Fee
                            </span>
                            <span class="block text-[12px] mt-5 md:mt-10">
                                (Admission Fee + Building Fund + Welfare Fund + Other Deposits)
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 border-b border-[#eeeeee]">
                            <span class="relative inline-block font-medium pr-15 ">
                                ₹ 400
                                <span class="block w-[7px] h-[7px] bg-success rounded-full absolute right-0 top-1/2 -translate-y-2/4"></span>
                            </span>
                            <span class="block mt-5 md:mt-[8px] font-medium">
                                Mid-Market Rate
                            </span>
                        </td>
                        
                    </tr>
                    <tr>
                        <td
                            class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30"
                            [ngClass]="{'bg-white': router.url === '/index-2'}"
                        >
                            <span class="block font-medium">
                                Total Cost
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-30 ">
                            <span class="text-[18px] md:text-[25px] font-semibold">
                                ₹ 600
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->