.tab-buttons
{
    margin: 12px;
  padding: 13px;
  text-align: center;
//   background-color: #8080800f;
}
.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  
  }
  .fbg_text{
    padding: 10px;
    background-color: #04a95c;
    color: white;
    font-size: 15px;
}
.bg_text
{
    // background-color: #011a41;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 15px;
}
.space-y-4{
    padding: 10px;
}